@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-sans-serif: "Montserrat", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;

}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  text-align: left;
  position: relative !important;
  background: #da9f5b4e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.tr-300{
  transition: all .2s !important;
}
@layer components{
  .searchInput ::after{
    @apply !bg-primary
  }
}
.swiper-button-prev::after ,.swiper-button-next::after {
  @apply text-primary 
}
.overlay-top::before,
.overlay-bottom::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 1;
}

/* .overlay-top::before {
  top: -1px;
  background: url(../public/images/overlay-top.png);
}

.overlay-bottom::after {
  bottom: -1px;
  background: url(../public/images/overlay-bottom.png);
} */

.section-title {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: 1px;
  background: #da9f5b;
}

.service-icon {
  margin-right: 15px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211d;
  background: #da9f5b;
}

.menu-price {
  position: absolute;
  margin: 0;
  top: -5px;
  right: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211d;
  background: #da9f5b;
}

.reservation,
.page-header,
.offer,
.footer {
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)),
    url(/images/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
