.swiper {
  width: 100% !important;
  height: 100vh !important;
}

.swiper_slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-position-x: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  object-fit: cover;
}

.slider_caption {
  position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: -120px;
  background: rgba(51, 33, 29, 0.7);
  z-index: 1;
}
.testimonial_slider_Wrapper{
  width: 100% !important;
  margin: 0px auto;
}
.testimonial_slider{
 display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  
}

